@keyframes scrollDown {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes nameOpacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.modalOpen{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#aboutUsBackground1 {
    width: 100%;
    height: 450px;
    background-color: black;
    background-image: url('../../public/images/aboutUsBg.jpg');
    background-repeat: no-repeat;
    background-position: center -480px;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: luminosity;
    position: absolute;
    top: 60px;
    left: 0;
    color: #eee;
    font-size: 100px;
    line-height: 450px
}
#aboutUsText {
    width: 100%;
    padding-top: 29%;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.6;
    position: relative;
}
#aboutUsText .scrollDown {
    position: absolute;
    font-size: 12px;
    top: 90vh;
    animation: scrollDown infinite 3s;
    transition: 200ms;
}
.scrollDown::before{
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    background-color: #eee;
    position: absolute;
    bottom: -20px;
    left: calc(50% + 3.5px);
    transform: rotateZ(45deg);
}
.scrollDown::after {
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    background-color: #eee;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 3.5px);
    transform: rotateZ(-45deg);
}
#aboutUsText::after {
    position: absolute;
    content: '';
    display: block;
    width: 1px;
    height: 200px;
    background-color: #999;
    bottom: -20%;
}
#aboutUsText h2{
    font-size: 80px;
    margin-bottom: 140px;
    font-weight: bold;
    opacity: 0;
    animation: nameOpacity 1s 500ms forwards;
}
#textWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 2s;
}
#textWrap h3 {
    font-size: 52px;
    margin-bottom: 60px;
}
#textWrap h4 {
    font-size: 36px;
    margin-bottom: 140px;
    font-family: sans-serif;
}
#textWrap h4 .eng {
    font-family: 'Libre Caslon Display';
    font-weight: normal;
}
#textWrap h4 span {
    font-weight: bold;
}
#textWrap p {
    width: 35%;
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 40px;
}



/* 리스트 */
#aboutUsList {
    width: 100%;
    margin-top: 450px;
    color: #eee;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#aboutUsList li{
    display: inline-block;
    margin-bottom: 48px;
    border-bottom: 1px solid #eee;
    border-width: 100%;
    cursor: pointer;
}
#aboutUsList li .listName {
    cursor: pointer;
}
#aboutUsList li:hover {
    transition: 0.5s;
    border-bottom: 1px solid #2e5fd1;
}

.aboutUsListScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}
.greyBg {
    position: inherit;
    display: inherit;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    left: 0;
    top:0;
    z-index: 10;
    cursor: default;
}
.closeBtn {
    position: fixed;
    display: inherit;
    right: 10%;
    top: 5%;
    width: 40px;
    height: 40px;
    z-index: 110;
    cursor: pointer;
    font-size: 0;
}
.closeBtn::before{
    position: absolute;
    content: '';
    display: block;
    width: 1px;
    height: 40px;
    background-color: #eee;
    transform: rotateZ(45deg);
    left: 50%;
}
.closeBtn::after{
    position: absolute;
    content: '';
    display: block;
    width: 1px;
    height: 40px;
    background-color: #eee;
    transform: rotateZ(-45deg);
    left: 50%;
}
.listScreen {
    position: fixed;
    display: inherit;
    width: 80vw;
    height: 80vh;
    left: 50%;
    top: 52%;
    transform: translate(-50%,-50%);
    background-color: #eee;
    z-index: inherit;
    overflow-y: scroll;
    cursor: default;
    color: #3d3d3d;
}
.listScreen h3{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #dda973;
    margin-top: 60px;
    margin-bottom: 100px;
    font-size: 80px;
}
.listScreen h4 {
    margin: 40px 0;
    font-size: 40px;
}
.listScreen p{
    font-size: 20px;
    line-height: 1.6;

}
.listScreen span{
    font-weight: bold;
    font-size: 22px;
}
.listScreenImg {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.listScreenImg img{
    width: 100%;
}






#aboutUsBackground2 {
    width: 100%;
    height: 45%;
    background-color: black;
    background-image: url('../../public/images/aboutUsBg2.jpg');
    background-repeat: no-repeat;
    background-position: center -300px;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: luminosity;
    position: absolute;
    /* bottom: -206vh; */
    left: 0;
}

#aboutUsText2 {
    width: 100%;
    padding-top: 45%;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.6;
    position: relative;
    font-family: sans-serif;
}
#aboutUsText2 h4{
    font-size: 36px;
    margin-bottom: 100px;
}
#aboutUsText2 h4 .eng{
    font-family: 'Libre Caslon Display';
}
#aboutUsText2 p {
    width: 35%;
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 40px;
}

#aboutUs .aboutFooter {
    position: relative;
    width: 100%;
}
#aboutUs #leftFooter {
    margin-left: 20%;
}
#aboutUs #rightFooter{
    justify-content: end;
    margin-right: 20%;
}