#aboutUsSlide {
    color: #eee;
    width: 100%;
    /* overflow: hidden; */
}
.slider2 .slick-current {
    animation: none;
}

.slideImg {
    height: 300px;
    overflow: hidden;
    margin: 140px 0;
    padding: 0 24px;
    outline: none;
}
.slideImg img {
    width: 100%;
    cursor: pointer;
    outline: none;
}
#slideDetail {
    position: absolute;
    width: 70vw;
}
#slideDetail img{
    width: 100%;
}