#main {
    width: 100%;
    height: 1520%;
}
#page1 {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    transition: 2s;
}
#slideText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#slideText h3{
    font-size: 60px;
    color: #eee;
    transition: 2s;
}
#slideText p{
    font-size: 36px;
    color: #eee;
    transition: 2s;
}


/* 페이지2 */
#page2 {
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
    transition: 2s;
}
#page2 img{
    width: 100vw;
    filter: grayscale(90%);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
#page2 p {
    font-size: 42px;
    writing-mode: vertical-lr;
    text-align: start;
    color: #eee;
    position: absolute;
    right: 20%;
    top: 25%;
    font-weight: 100;
}


/* 페이지3 */
#page3 {
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
    transition: 2s;
}
#page3 img{
    width: 100vw;
    filter: grayscale(80%);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
#page3 p {
    font-size: 42px;
    writing-mode: vertical-lr;
    text-align: start;
    color: #eee;
    position: absolute;
    right: 20%;
    top: 25%;
    font-weight: 100;
}


/* 페이지4 */
#page4 {
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
    transition: 2s;
}
#page4 img{
    width: 100vw;
    filter: grayscale(50%);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
#page4 p {
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: #dda973;
    color: #eee;
    position: absolute;
    right: 20%;
    top: 30%;
    font-weight: 100;
}
#page4 span{
    font-size: 22px;
    color: #eee;
    position: absolute;
    right: 20%;
    top: 38%;
    font-weight: 100;
}



/* 카테고리 페이지 */
.cPage{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    overflow: hidden;
    text-align: start;
    left: 0;
    top: 0;
    transition: 2s;
    z-index: 3;
}
.leftCPage{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 300vh;
    top: -300vh;
    left: 0;
    transition: 1s;
    transform: translateY(-300vh);
}
.rightCPage{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 300vh;
    bottom: -300vh;
    right: 0;
    transition: 1s;
}
/* .categoryPage {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    overflow: hidden;
    text-align: start;
    left: 0;
    top: 0;
    transition: 2s;
    z-index: 3;
} */

.leftMainPage {
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    transition: 1s;
    overflow: hidden;
}
.leftMainPage img{
    width: 100%;
    transition: 1s;
}



.rightMainPage { 
    width: 100%;
    height: 100vh;
    color: #eee;
    padding-left: 120px;
    right: 0;
    bottom: 0;
    transition: 1s;
    cursor: default;
}
.rightMainPage>div{
    transition: 0.5s;
}
.rightMainPage h3{
    font-size: 60px;
    margin-top: 60px;
    font-weight: 600;
    transition: 1s;
}
.rightMainPage p{
    font-size: 40px;
    margin-top: 160px;
    padding-left: 36px;
    transition: 1s;
}
.rightMainPage span {
    font-size: 36px;
    writing-mode: vertical-lr;
    position: absolute;
    right: 5%;
    bottom: 20%;
    transition: 1s;
}
.rightMainPage .detailView {
    width: 200px;
    height: 60px;
    font-size: 24px;
    line-height: 2.2;
    text-align: center;
    border: 3px solid #eee;
    position: absolute;
    left: 120px;
    bottom: 10%;
    cursor: pointer;
    z-index: 2;
    transition: 1s;
}


/* 카테고리페이지 백그라운드컬러 */
.cPageL1, .cPageR1{
    background-color: #204030;
    position: relative;
}

.cPageL2, .cPageR2{
    background-color:   #720d0d;
    position: relative;
}

.cPageL3, .cPageR3{
    background-color: #AA9A8A;
    position: relative;
}



/* 지도페이지 */
#directionsPage {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #F9F5EC;
    transition: 1s;
}
.directionLeftPage {
    width: 50%;
    height: 100vh;
}
#shopImg{
    position: absolute;
    width: 40%;
    left: 0;
    top: -25%;
    overflow: hidden;
}
#directionsPage #shopImgDetail {
    width: 100%;
    filter: brightness(80%) grayscale(50%);
}
#map {
    position: absolute;
    left: 0;
    bottom: 0;
}



.directionRightPage {
    width: 50%;
    height: 100vh;
    text-align: start;
}

#textBox{
    margin-top: 50px;
    transition: 0.5s;
}
.directionRightPage h2 {
    display: inline-block;
    color: #000000;
    font-size: 48px;
    margin-top: 40px;
    font-weight: bold;
    border-bottom: 3px solid #dda973;
}
.directionRightPage p {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    padding: 14px;
}
.directionRightPage span {
    font-weight: 500;
    font-size: 24px;
    font-family: sans-serif;
}



.footer {
    position: fixed;
    display: flex;
    width: 60%;
    height: 25vh;
    right: 0;
    background-color: #232527;
    z-index: 4;
    transition: 1s;
}
#leftFooter {
    width: 70%;
    color: #e5e7eb;
    text-align: start;
    /* margin-top: 5%;
    margin-left: 10%; */
    padding: 25px 5%;
}
#rightFooter {
    display: flex;
    width: 30%;
    color: #fff;
    margin-top: 30px;
}
#rightFooter p{
    padding: 6px;
}
#map {
    width: 40%;
    height: 50vh;
}

@media screen and (max-width: 768px) {
    #page2 img{
        height: 50vh;
        width: auto;
        position: absolute;
        left: -100px;
        top: 33%;
    }
    #page2 p{
        font-size: 36px;
        writing-mode: unset;
        text-align: start;
        color: #eee;
        position: relative;
        left: 30px;
        top: 65%;
        font-weight: 100;
    }
    #page3 img{
        height: 50vh;
        width: auto;
        position: absolute;
        left: -180px;
        top: 33%;
    }
    #page3 p{
        font-size: 36px;
        writing-mode: unset;
        text-align: start;
        color: #eee;
        position: relative;
        left: 30px;
        top: 65%;
        font-weight: 100;
    }
    #page4 img{
        height: 50vh;
        width: auto;
        position: absolute;
        left: -35%;
        top: 33%;
    }
    #page4 p{
        top: 65%;
        right: 10%;
    }
    #page4 span{
        top: 74.5%;
        right: 10%;
    }
    .leftMainPage img{
        height: 100vh;
        width: auto;
    }
    .rightMainPage{
        padding: 0;
    }
    .rightMainPage h3{
        font-size: 36px;
        margin-top: 100px;
        margin-left: 12px;
    }
    .cPageR2 div h3 {
        font-size: 28px;
    }
    .rightMainPage p{
        margin-top: 60px;
        padding-left: 10px;
        font-size: 26px;
        word-break: keep-all;
        text-align: center;
    }
    .rightMainPage span{
        writing-mode: unset;
        bottom: 18%;
        left: 15%;
        font-size: 26px;
    }
    .rightMainPage .detailView{
        left: 1vw;
        width: 48vw;
        bottom: 5%;
    }
    #directionsPage{
        flex-direction: column;
    }
    .directionLeftPage{
        width: 100vw;
        height: 50vh;
    }
    #map{
        width: 100%;
        height: 50vh;
        top: 0;
        right: 0;
    }
    .directionRightPage{
        width: 100vw;
        height: 50vh;
    }
    .directionRightPage h2{
        font-size: 30px;
        margin-top: 20px;
        margin-left: 3%;
    }
    #textBox{
        margin-top: 10px;
        margin-left: 3%;
        /* position: absolute; */
        top: 52%;
        right: 0;
        width: 62%;
    }
    .directionRightPage p{
        font-size: 24px;
        padding: 0;
        padding-bottom: 10px;
    }
    .directionRightPage span{
        font-size: 13.5px;
        padding: 0;

    }
    .footer{
        right: 0;
        width: 35%;
        height: 50vh;
        flex-direction: column;
    }
    #leftFooter{
        width: 100%;
        font-size: 12px;
        padding: 25px 5%;
    }
    #leftFooter p{
        margin-bottom: 2%;
    }
    #rightFooter{
        width: 100%;
        justify-content: center;
        position: absolute;
        bottom: 10px;
    }
}