#main {
    width: 100%;
    height: 1520%;
}
#page1 {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    transition: 2s;
}
#slideText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#slideText h3{
    font-size: 60px;
    color: #eee;
    transition: 2s;
}
#slideText p{
    font-size: 36px;
    color: #eee;
    transition: 2s;
}


/* 페이지2 */
#page2 {
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
    transition: 2s;
}
#page2 img{
    width: 100vw;
    filter: grayscale(90%);
}
#page2 p {
    font-size: 42px;
    writing-mode: vertical-lr;
    text-align: start;
    color: #eee;
    position: absolute;
    right: 20%;
    top: 25%;
    font-weight: 100;
}


/* 페이지3 */
#page3 {
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
    transition: 2s;
}
#page3 img{
    width: 100vw;
    filter: grayscale(80%);
}
#page3 p {
    font-size: 42px;
    writing-mode: vertical-lr;
    text-align: start;
    color: #eee;
    position: absolute;
    right: 20%;
    top: 25%;
    font-weight: 100;
}


/* 페이지4 */
#page4 {
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
    transition: 2s;
}
#page4 img{
    width: 100vw;
    filter: grayscale(50%);
}
#page4 p {
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: #dda973;
    color: #eee;
    position: absolute;
    right: 20%;
    top: 30%;
    font-weight: 100;
}



/* 카테고리 페이지 */
.categoryPage {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    overflow: hidden;
    text-align: start;
    left: 0;
    top: 0;
    transition: 2s;
    z-index: 3;
}

.leftMainPage {
    width: 50%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    transition: 1s;
    overflow: hidden;
}
.leftMainPage img{
    width: 100%;
    transition: 1s;
}



.rightMainPage { 
    width: 50%;
    height: 100vh;
    color: #eee;
    position: absolute;
    padding-left: 120px;
    right: 0;
    bottom: 0;
    transition: 1s;
    cursor: default;
}
.rightMainPage h3{
    font-size: 60px;
    margin-top: 60px;
    font-weight: 600;
    transition: 1s;
}
.rightMainPage p{
    font-size: 40px;
    margin-top: 160px;
    padding-left: 36px;
    transition: 1s;
}
.rightMainPage span {
    font-size: 36px;
    writing-mode: vertical-lr;
    position: absolute;
    right: 5%;
    bottom: 20%;
    transition: 1s;
}
.rightMainPage .detailView {
    width: 200px;
    height: 60px;
    font-size: 24px;
    line-height: 2.2;
    text-align: center;
    border: 3px solid #eee;
    position: absolute;
    left: 120px;
    bottom: 10%;
    cursor: pointer;
    z-index: 2;
    transition: 1s;
}


/* 카테고리페이지 백그라운드컬러 */
.cPageL1, .cPageR1{
    background-color: #204030;
}

.cPageL2, .cPageR2{
    background-color:   #720d0d;
}

.cPageL3, .cPageR3{
    background-color: #AA9A8A;
}



/* 지도페이지 */
#directionsPage {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #F9F5EC;
    transition: 1s;
}
.directionLeftPage {
    width: 50%;
    height: 100vh;
}
#shopImg{
    position: absolute;
    width: 40%;
    left: 0;
    top: -25%;
    overflow: hidden;
}
#directionsPage #shopImgDetail {
    width: 100%;
    filter: brightness(80%) grayscale(50%);
}
#map {
    position: absolute;
    left: 0;
    bottom: 0;
}



.directionRightPage {
    width: 50%;
    height: 100vh;
    text-align: start;
}

#textBox{
    margin-top: 50px;
}
.directionRightPage h2 {
    display: inline-block;
    color: #000000;
    font-size: 48px;
    margin-top: 40px;
    font-weight: bold;
    border-bottom: 3px solid #dda973;
}
.directionRightPage p {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    padding: 14px;
}
.directionRightPage span {
    font-weight: 500;
    font-size: 24px;
    font-family: sans-serif;
}



#footer {
    position: fixed;
    display: flex;
    width: 60%;
    height: 20vh;
    right: 0;
    background-color: #232527;
    z-index: 4;
    transition: 1s;
}
#leftFooter {
    width: 60%;
    color: #e5e7eb;
    text-align: start;
    margin-top: 30px;
    margin-left: 10%;
}
#rightFooter {
    display: flex;
    width: 40%;
    color: #fff;
    margin-top: 30px;
}
#rightFooter p{
    padding: 6px;
}