#weatherTab{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    transition: 2s;
}
#weatherTab h4{
    font-size: 30px;
}
#weatherInfo{
    display: flex;
    align-items: center;
}
#weatherInfo p{
    font-size: 24px;
}
#weatherInfo img{
    margin: 0 4px;
}