#header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    z-index: 50;
    transition: 2s;
}
#header h1{
    font-size: 42px;
    color: #eee;
    margin-left: 18px;
    cursor: pointer;
    z-index: 10;
}
#menu {
    width: 50px;
    height: 50px;
    background: #000c1d;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
#menu p {
    font-size: 16px;
    color: #fff;
    height: 50%;
    font-weight: 500;
}

#burgerTab {
    width: 100%;
    height: 50%;
    position: relative;
}

#menu:hover #wineLine div:nth-child(1){
    width: 30px;
    transition: 0.5s;
}
#menu:hover #wineLine div:nth-child(2){
    width: 30px;
    transition: 0.5s 0.25s;
}
#menu:hover p{
    color: #725040;
    transition: 0.5s 0.5s;
}
#whiteLine {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#whiteLine div:nth-child(1){
    width: 30px;
    height: 1px;
    background-color: #fff;
}
#whiteLine div:nth-child(2){
    width: 30px;
    height: 1px;
    background-color: #fff;
}
#wineLine {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#wineLine div:nth-child(1){
    width: 0;
    height: 1px;
    background-color: #725040;
    position: absolute;
    top: 8px;
    left: 10px;
}
#wineLine div:nth-child(2){
    width: 0;
    height: 1px;
    background-color: #725040;
    position: absolute;
    top: 16px;
    left: 10px;
}
#menuScreen {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0vh;
    left: 0;
    overflow: hidden;
    cursor: initial;
    transition: 0.8s;
}
#menuWrap {
    width: 100%;
    height: 100vh;
    background-color: #302625;
    display: flex;
}
#menuWrap>div{
    width: 50%;
    overflow: hidden;
}
#menuWrap div img{
    width: 200%;
}
#menuWrap ul {
    width: 50%;
    height: 100vh;
    padding: 10% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 10;

}
#menuWrap ul li{
    text-align: center;
    color: #fff;
    font-size: 36px;
    display: flex;
    padding-left: 15%;
    position: relative;
    
}
#menuWrap ul li span {
    display: inline-block;
    cursor: pointer;
}
#menuWrap ul li span::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: 0.5s;
    bottom: 0;
}
#menuWrap ul li span:hover::after {
    width: 100%;
}
#menuWrap ul #closeIcon {
    position: absolute;
    top: 0;
    right: 0;
    cursor: default;
}
#menuImg {
    transition: 1s;
}

#closeIconWrap {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 5px;
    opacity: 0;
    transition: 0.5s 0.8s;
    z-index: 10;
}
#closeIconWrap div:nth-child(1){
    width: 30px;
    height: 1px;
    background-color: #fff;
    transform: rotateZ(45deg);
    position: absolute;
    top: 15px;
    right: 0px;
    box-shadow: 0px 0px 5px #5d5d5d;
}
#closeIconWrap div:nth-child(2){
    width: 30px;
    height: 1px;
    background-color: #fff;
    transform: rotateZ(-45deg);
    position: absolute;
    top: 15px;
    right: 0;
    box-shadow: 0px 0px 5px #5d5d5d;
}



/* 로긍니페이지 */
#loginPage {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
}
#loginLeft {
    position: absolute;
    top: 0;
    width: 50%;
    overflow: hidden;
    transition: 1s;
}
#loginLeft img{
    width: 200%;
}
#loginRight {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100vh;
    background-image: linear-gradient(45deg, #fdfcfb 0%, #e2d1c3 100%);
    transition: 0.8s;
}
#loginRight #loginBox {
    position: absolute;
    left: 5%;
    top: 20%;
    display: flex;
    align-items: center;
    width: 40%;
    height: 400px;
    transition: 0.5s 0.8s;

}
#menuWrap #loginRight li {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#loginRight #loginBox h3{
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 3px #302625;
    margin-bottom: 50px;
}
#loginRight #loginBox p{
    color: #1C3879;
    font-family: sans-serif;
    font-size: 12px;
    transition: 0.5s;
}
#loginRight #loginBox input {
    border: none;
    padding-left: 14px;
    width: 200px;
    height: 20px;
    background-color: inherit;
    position: relative;
    color: #4d4d4d;
}
#loginRight #loginBox .inputLine {
    width: 110%;
    height: 2px;
    background-color: #CFD2CF;
    /* background-color: #607EAA; */
    margin: 10px 0 20px 0;
    transform: translateX(-5%);
}
#loginRight #loginBox #loginBtn {
    border: none;
    background-color: #1C3879;
    color: #eee;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    margin: 28px 0;
    cursor: pointer;
}
#loginRight #loginBox #signBox {
    display: flex;
    flex-direction: row;
}
#loginRight #loginBox #signBox button{
    border: none;
    background-color: inherit;
    text-decoration: underline;
    padding: 0 14px;
    margin: 0 4px;
    cursor: pointer;
    color: #4d4d4d;
}


@media screen and (max-width: 768px) {
    #menuWrap div img{
        height: 100vh;
        width: auto;
        position: absolute;
        left: 0;
    }
}